@use "bootstrap";
@use "bootstrap-extended";
@use "components";
@use "colors";

.content-wrapper .container,
.content-wrapper .container-fluid {
    --bs-gutter-x: 1rem !important;
    --bs-gutter-y: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
